/*
Image Float...............BBCODE-001
Border....................BBCODE-002
Background................BBCODE-003
Background................BBCODE-004
*/

/*************************************************
*** Image Float                      BBCODE-001***
*************************************************/
.float-left,
.float-right {
	display: block;
	margin: 10px;
	max-width: calc(50% - 10px) !important;
}
.float-left  { float: left; margin-left: 0; }
.float-right { float: right; margin-right: 0; }


/*************************************************
*** Border                           BBCODE-002***
*************************************************/
.bbcode-border {
	padding: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #2980b9;
}
	.bbcode-border .bbcode-background {
		margin: -10px;
}

/*************************************************
*** Background                       BBCODE-003***
*************************************************/
.bbcode-background {
	padding: 10px;
	color: black;
}

/*************************************************
*** Fieldset                         BBCODE-004***
*************************************************/

.bbcode-fieldset {
	width: 95%;
	margin: 0 auto;
	clear: both;
	border: 1px solid #2980b9;
	padding: 10px;
}
.bbcode-fieldset legend {
	margin-left: 3%;
	font-weight: 700;
	color: #2980b9;
	padding: 0 10px;
}

.bbcode-fieldset span {
	color: #2980b9;
}
@media screen and (max-width: 800px) {
	.bbcode-fieldset {
		width: 90%;
	}
}
